body {
    background-color: #3EC6FF;
    font-family: 'Kanit', sans-serif;
    height: 100%;
}

.body-page {
    height: 90%;
    padding-top: 2vh;
}

.head-text {
    color: white;
    font-size: 3.5vmax;
}

.select-box {
    background-color: #fff;
    border-radius: 40px;
    padding: 2vh 3vw;
}

.box {
    margin: 15px auto;
    width: 100%;
}

.button {
    width: 100%;
    background-color: #3EC6FF;
    color: #000000;
    border: none;
    border-radius: 45px;
    font-size: calc(20px + (38 - 20) * ((100vw - 320px) / (1600 - 320)));
    text-align: center;
    padding: 20px 30px;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(120,120,120,0.6);
    -moz-box-shadow: 0px 5px 10px 0px rgba(120,120,120,0.6);
    box-shadow: 0px 5px 10px 0px rgba(120,120,120,0.6)
}

.button:hover {
    background-color: #8edbfc;
}

.last-button {
    width: 100%;
    background-color: #dddddd;
    color: #000000;
    border: none;
    border-radius: 45px;
    font-size: calc(18px + (40 - 18) * ((100vw - 320px) / (1600 - 320)));
    text-align: center;
    padding: 20px 10px;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(120,120,120,0.6);
    -moz-box-shadow: 0px 5px 10px 0px rgba(120,120,120,0.6);
    box-shadow: 0px 5px 10px 0px rgba(120,120,120,0.6)
}

.last-button:hover {
    background-color: #b4b4b4;
}