body {
    font-family: 'Kanit', sans-serif;
    height: 100%;
}

.head-page {
    height: 6vh;
    background-color: #3EC6FF;
}

.head-text {
    color: white;
    margin-top: 1.5vh;
    font-size: calc(18px + (30 - 18) * ((100vw - 320px) / (1600 - 320)));
}

.barcode-page {
    height: 69vh;
    background-color: #3EC6FF;
}

.barcode-gene {
    height: 90%;
    margin: auto;
    background-color: #ffffff;
}


.button-page {
    height: 25vh;
    padding-top: 2vh;
    background-color: #ffffff;
}
.btn-box {
    width: 100%;
    padding: 1vh;
}

.button {
    width: 100%;
    background-color: #3EC6FF;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    font-size: calc(22px + (34 - 22) * ((100vw - 320px) / (1600 - 320)));
    text-align: center;
    padding: 10px 10px;
}

.button-1 {
    width: 100%;
    background-color: #C4C4C4;
    color: #000000;
    border: none;
    border-radius: 15px;
    font-size: calc(22px + (30 - 22) * ((100vw - 320px) / (1600 - 320)));
    text-align: center;
    padding: 10px 10px;
}

.button:hover {
    background-color: #15a2da;
}

.button-1:hover {
    background-color: #9b9b9b;
}