html, body {
    font-family: 'Kanit', sans-serif;
    height: 100%;
    margin: 0;
}

.body-page {
    height: 92vh;
}

#login {
    background-color: #ffffff;
    height: 85vh;
    margin-top: 2vh;
}

.img-box {
    border-radius: 100%;
    width: 10em;
    height: 10em;
    margin: 7% auto;
}

#head {
    background-color: #3ec6ff;
}

.h1 {
    font-size: calc(20px + (24 - 20) * ((100vw - 320px) / (1600 - 320)));;
}

.h2 {
    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1600 - 320)));;
    font-weight: lighter;
    color: gray;
}

#form-frame {
    margin-top: 5%;
}

#password {
    margin-bottom: 1vmax;
}

.submit-btn {
    width: 12em;
    background-color: #3ec6ff;
    color: #ffffff;
    border: none;
    border-radius: 40px;
    font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1600 - 320)));
    text-align: center;
    padding: 10px 10px;
}

.submit-btn:hover {
    background-color: #1faeeb;
    color: #ffffff;
}

@media only screen and (min-height: 600px) and (max-width: 576px) {
    #login {
        height: 75vh;
        margin-top: 15vh;
    }
}

@media only screen and (min-width: 576px) and (max-width: 991px) {
    #login {
        height: 75vh;
        margin-top: 15vh;
    }
}

@media only screen and (min-width: 992px) {
    #login {
        height: 80vh;
        margin-top: 10vh;
    }
  
    #head {
        height: 92vh;
    }
}