body {
  font-family: "Kanit", sans-serif;
  height: 100%;
  background-color: #3ec6ff;
}

.head-page {
  height: 6vh;
  position: relative;
}

.backpage-btn {
  background-color: transparent;
  border: none;
  color: white;
  font-size: calc(14px + (26 - 14) * ((100vw - 320px) / (1600 - 320)));
  position: absolute;
  top: 20%;
  left: 2%;
}

.check-page {
  position: relative;
  margin-bottom: 2vh;
}

.search-page {
  color: white;
  font-size: calc(18px + (34 - 18) * ((100vw - 320px) / (1600 - 320)));
}

.txt {
  color: white;
  font-size: calc(14px + (28 - 14) * ((100vw - 320px) / (1600 - 320)));
}

#form-check {
  margin-top: 1em;
}

.submit-btn {
  width: 7em;
  background-color: #3effa2;
  color: #000000;
  border: none;
  border-radius: 0.5em;
  font-size: calc(14px + (22 - 14) * ((100vw - 320px) / (1600 - 320)));
  text-align: center;
  padding: 5px 5px;
  -webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.5);
}

.submit-btn:hover {
  background-color: #65f1c3;
  color: #000000;
}

.data-page {
  height: 52vh;
  padding: 0 3vw;
  display: none;
}

.white {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  border-radius: 2em;
  padding: 3vh 4vw;
}

/* modal */
.pic {
  text-align: center;
  margin: 1rem auto;
}

.txt-modal {
  font-size: calc(18px + (30 - 18) * ((100vw - 320px) / (1600 - 320)));
  margin-top: 1rem;
}

/* gray-area */
#contain {
  background-color: rgb(189, 189, 189);
  width: 100%;
  height: 100%;
  border-radius: 2em;
  padding: 1em 1em;
  font-size: calc(12px + (26 - 12) * ((100vw - 320px) / (1600 - 320)));
}

.show-row {
  height: 90%;
}

.textshow {
  padding: 1vh 1vw;
  /* margin: auto 0; */
}


#showBarcode {
  background-color: rgb(95, 95, 95);
  width: 12em;
  height: 7em;
}

.saveImg {
  background-color: #3ec6ff;
  color: #ffffff;
  width: 70%;
  font-size: calc(16px + (28 - 16) * ((100vw - 320px) / (1600 - 320)));
}
